@import 'header.css';
@import 'fotter.css';
@import 'base.css';


main{
    display: flex;
    padding: 40px;
    padding-bottom: 10px;
}
.myImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact{
    text-align: center;
}

.contact > button{
    width: 130px;
    height: 35px;
    border: none;
    background: seagreen;
    border-radius: 15px;
}
.contact > button:hover{
opacity: .7;
cursor: pointer;
}